#form-container
  = form_for @user do |f|

    - if @user.errors.any?
      #error_explanation
        %h3
        =pluralize(@user.errors.count,"error")
        Prohibited to save this question!
      %ul
      =@user.errors.full_messages do |msg|
        %li= msg

    #create_form.form-button
      %p
        =f.label "Add Question",class: :input_note1
      .clear_cls
        %p
          =f.label :sl_no,class: :input_note
          = f.text_field :sl_no,class: :input_note2
      .clear_cls
        %p
          =f.label :Question,class: :input_note
          =f.text_field :question,class: :tb5
      .clear_cls
        %p
          =f.label :Options_a,class: :input_note
          =f.text_field :option_a,class: :tb5
      .clear_cls
        %p
          =f.label :Options_b,class: :input_note
          =f.text_field :option_b,class: :tb5
      .clear_cls
        %p
          =f.label :Options_c,class: :input_note
          =f.text_field :option_c,class: :tb5
      .clear_cls
        %p
          =f.label :Answer,class: :input_note
          =f.text_field :answer,class: :tb5
      .clear_cls
        %p
          =f.label :topic_id,"Category",class: :input_note
          = f.select :topic_id, options_from_collection_for_select(Topic.all,"id","topic_name"),class: :tb5
      %p
        = f.submit "Submit", class: :submit
  .cls
