%p
  Listing all Question
%table.table.table-striped.table-hover
  %tr
    %th Sl_no
    %th Question
    %th Options
    %th{:colspan => 7}Answers
  - @question.each do |option|
    %tr
      %td= option.id
      %td= option.question
      %td= option.option_a
      %td= option.option_b
      %td= option.option_c
      %td= option.answer

      %td= link_to 'Show', question_path(option)
      %td= link_to 'Edit', edit_question_path(option)
      -if can? :destroy,option
        %td= link_to 'Destroy', question_path(option),
            method: :delete, data: { confirm: 'Are you sure?'}
%p
  = link_to "Add Questions", new_question_path