%h4.text-muted
  Listing of all Questions :
%table.table.table-striped.table-hover
  %tr
    %th Id
    %th Question
    %th{:colspan => 4}Opertions
  - @question.each do |option|
    %tr
      %td= option.id
      %td= option.question
      %td= link_to 'Show', question_path(option)
      %td= link_to 'Edit', edit_question_path(option)
      -if can? :destroy,option
        %td= link_to 'Destroy', question_path(option),
            method: :delete, data: { confirm: 'Are you sure?'}
%p
  = link_to "Add Questions", new_question_path