
=form_tag @score do
  %h3
    Topic Name :
  #{@score1.first.topic_name}
  %ul
    -@score1.each do |option|
      .question_container
        %h4
          %tr{:colspan=>1}#{option.sl_no}.#{option.question}
        %ul
          %li.bold_txt
            =radio_button_tag "data[#{@user_id}][#{option.id}]", "#{option.option_a}"
            =option.option_a
          %li.text-left
            =radio_button_tag "data[#{@user_id}][#{option.id}]", "#{option.option_b}"
            =option.option_b
          %li
            =radio_button_tag "data[#{@user_id}][#{option.id}]", "#{option.option_c}"
            =option.option_c
          %td
            =hidden_field_tag "topic_id", @topic_id
  %td.text-center
    %p
    =submit_tag "Finish Answer",class:"btn btn-info"
    %br
      %strong
        Note :
        Once you finished you will not able to changed the answer
