.form-horizontal{:role => "form"}
  =form_tag @score do
    %h3 Questions:
    %table
      %ul
      -@score1.each do |option|
        %tr
          %td{:colspan=>1}#{option.sl_no}.#{option.question}
        %tr
          %td
            =radio_button_tag "data[#{@student_id}][#{option.id}]", "#{option.option_a}"
            =option.option_a
          %td
            =radio_button_tag "data[#{@student_id}][#{option.id}]", "#{option.option_b}"
            =option.option_b
          %td
            =radio_button_tag "data[#{@student_id}][#{option.id}]", "#{option.option_c}"
            =option.option_c
          %td
            =hidden_field_tag "student_id", @student_id
            =hidden_field_tag "topic_id", @topic_id
      %tr
        %td
          =submit_tag "Submit Answer",class:"btn btn-info"