<!DOCTYPE html>
<html>
<head>
  <title>Interview</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag ('application')%>
  <%= csrf_meta_tags %>

</head>

<body>
<div class="header">

  <div class="sub-header1">


      <nav  class="sub-header2">

        <ul>
          <li><%=link_to "Question Master"%>
            <ul>
              <li> <%=link_to "Home",students_path%></li>
              <li> <%=link_to "Add Question",new_question_path%></li>
              <li> <%=link_to "View Answer",student_answer_questions_path%></li>
            </ul>
          </li>
        </ul>
      </nav>



      <nav  class="sub-header3">
        <ul>
          <!--<li><%=link_to "Sign up",new_student_path%></li>-->
          <li><%=link_to "Sign in ",signin_path%></li>
        </ul>
      </nav>


</div>
</div>

<div class="container">


  <% flash.each do |key,value| %>
      <div class = 'flash' id ='<%=key%>'>
        <%= value %>
      </div>
  <%end%>

  <%=yield %>
</div>

<div class="footer">
  <div class="sub-footer">
  </div>
</div>

</body>
</html>
